@font-face {
  font-family: "Montserrat";
	src: url(../fonts/montserrat-regular.woff2) format("woff2"),
		url(../fonts/montserrat-regular.woff) format("woff");
	font-weight: 400;
	font-style: normal; 
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat-medium.woff2) format("woff2"),
    url(../fonts/montserrat-medium.woff) format("woff");
  font-weight: 400;
  font-style: normal; 
}
@font-face {
  font-family: "Montserrat";
	src: url(../fonts/montserrat-semiBold.woff2) format("woff2"),
		url(../fonts/montserrat-semiBold.woff) format("woff");
	font-weight: 600;
	font-style: normal; 
}
@font-face {
  font-family: "Montserrat";
	src: url(../fonts/montserrat-bold.woff2) format("woff2"),
		url(../fonts/montserrat-bold.woff) format("woff");
	font-weight: 700;
	font-style: normal; 
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat-extraBold.woff2) format("woff2"),
    url(../fonts/montserrat-extraBold.woff) format("woff");
  font-weight: 800;
  font-style: normal; 
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: 23px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  line-height: 28px;
  color:  #333333;
  background-color: #ffffff;
}

/*Шапка*/

.page-header__wrapper {
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 17px
}
.page-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header__top-logo {
  height: 100px;
  padding: 5px 0;
}
.page-header__button {
  display: none;
  border: 0;
}
.page-header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.page-header__box a {
  display: block;
  width: 186px;
  height: 45px;
  padding-top: 14px;
  padding-bottom: 12px;
  font-weight: 800;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  background: #118c8c;
  border-radius: 6px;
}
.page-header__box-contact {
  display: block;
  /*position: absolute;*/
  /*left: calc(100% - 60px);*/
  width: 51px;
  height: 45px;
  background: #118c8c;
  cursor: pointer;
  border: 0;
}
.page-header__box-block {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
}
.page-header__box-block::before,
.page-header__box-block::after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  top: -10px;
  left: 0;
}
.page-header__box-block::after {
  top: 10px;
}

@media  (max-width: 1023px) {
  .page-header__box {
    display: none;
  }
  .page-header__button {
    display: block;
    position: absolute;
    left: calc(100% - 60px);
    width: 60px;
    height: 60px;
    background: linear-gradient(180deg, #06E9C3 0%, #008B8B 81.85%);
    cursor: pointer;
  }
  .page-header__button--active {
    background: linear-gradient(180deg, #06E9C3 0%, #008B8B 81.85%);
    z-index: 9;
    background-image: url(../img/icon-close.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: calc(100% - 60px);
    z-index: 40;
  }
  .page-header__block {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
  }
  .page-header__block::before,
  .page-header__block::after {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    top: -10px;
    left: 0;
  }
  .page-header__block::after {
    top: 10px;
  }
  .page-header__block--active, 
  .page-header__block--active::after, 
  .page-header__block--active::before {
    display: none;
}
}

@media (max-width: 767px) {
  .page-header__wrapper {
    margin: 0 auto;
    padding: 0 15px
  }
}

/*Меню*/

.main-nav {
  max-width: 1150px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-nav__item a {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
@media (max-width: 1023px) {
  .main-nav {
    display: none;
    position: absolute;
    content: "";
    left: 0;
    margin: 0;
    background: linear-gradient(180deg, #06E9C3 0%, #008B8B 81.85%);
    padding: 50px 0 0;
    width: 100%;
    z-index: 9;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    min-height: 490px;
  }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 0;
  }
  .main-nav--active {
    display: block;
    /*margin-top: -490px;*/
  }
  .main-nav__item a {
    font-weight: 800;
    font-size: 18px;
    line-height: 50px;
    text-transform: uppercase;
    color: #ffffff;      
  }
}
@media (max-width: 767px) {
  .main-nav {
    left: 0;
    width: 100%;
    height: 100vh;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
  }
}


/*Описание*/

.description {
  min-height: 906px;
  background: url("../img/img-header3.png") calc(60% + 380px) 160px no-repeat,
  url("../img/img-header2.png") no-repeat,
  url("../img/header-bg.jpg") 100% 100% no-repeat;
  background-size: auto, auto, cover;
}
@media (max-width: 1700px) {
  .description {
    background: url("../img/img-header3.png") calc(60% + 310px) 206px no-repeat,
    url("../img/img-header2.png") no-repeat,
    url("../img/header-bg.jpg") 100% 100% no-repeat;
    background-size: 48%, auto, cover;
  }
}
.description__wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 17px
}
.description__box {
  max-width: 757px;
  padding-top: 160px;
}
.description__box h1 {
  max-width: 757px;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  color: #FFFFFF;
}
.description__box span {
  display: block;
  text-align: center;
}
.description__box p {
  max-width: 656px;
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
}
.description__box a {
  display: block;
  width: 243px;
  height: 61px;
  margin: 0 auto;
  padding-top: 19px;
  padding-bottom: 20px;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  filter: drop-shadow(0px 4px 15px #1678ac);
  background: #118c8c;
  border-radius: 15px;
}

@media (max-width: 1023px) {
  .description {
    min-height: 630px;
    background: url("../img/img-header3-mobile.png") calc(50% + 15px) 100% no-repeat,
    url("../img/header-bg-mobile.png") 100% 100% no-repeat;
    background-size: auto, cover;
  }
  .description__wrapper  {
    padding: 0 15px;
  }
  .description__box h1 {
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
  }
  .description__box {
    padding-top: 10px;
  }
  .description__box p {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 18px;
  }
}

/*О нас*/

.about-us__wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 17px
}
.about-us__inner {
  padding-top: 41px;
  padding-bottom: 26px;
  background: linear-gradient(180deg, #06E9C3 0%, #008B8B 81.85%);
}
.about-us__inner-box {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 17px
}
.about-us__wrapper-box h2 {
  margin: 0;
  margin-top: -70px;
  margin-bottom: 49px;
  font-weight: 800;
  font-size: 52px;
  line-height: 73px;
  color: #333333;
}
.about-us__wrapper-box p {
  max-width: 1080px;
  margin: 0;
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 24px;
  line-height: 43px;
}
.about-us__inner-box h3 {
  max-width: 1180px;
  margin: 0;
  margin-bottom: 26px;
  font-weight: 800;
  font-size: 46px;
  line-height: 55px;
  color: #ffffff;
}
.about-us__inner-list {
  max-width: 618px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.about-us__inner-item p {
  position: relative;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  padding-left: 44px;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}
.about-us__inner-item p:nth-child(6) {
  margin-bottom: 0;
}
.about-us__inner-item p::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 16px;
  left: 2px;
  top: 5px;
  background: url("../img/icon-checkmark.svg") no-repeat;
}

@media (max-width: 1023px) {
  .about-us__wrapper {
    padding: 0 15px;
    margin-top: 50px;
  }
  .about-us__inner-box h3 {
    max-width: 685px;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
  }
}

@media (max-width: 767px) {
  .about-us__wrapper-box h2 {
    margin-top: 0px;
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
  }
  .about-us__wrapper-box p {
    font-weight: 300;
    font-size: 16px;
    line-height: 29px;
    color: #333333;
  }
  .about-us__inner-box h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
  }
  .about-us__inner-list {
    max-width: 445px;
  }
  .about-us__inner-item p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
}